<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="icon" type="image/x-icon" href="/images/favicons/favicon.ico">
    <title>Stocks Info App</title>


    <link rel="stylesheet" href="/styles/style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet" />

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Damion&family=Oswald:wght@200;300;400;500;600;700&family=Patua+One&family=Sniglet&display=swap"
        rel="stylesheet">



</head>

<body>
    <main class="flex bg-[#fff] flex-col justify-between w-full h-full gap-2 text-center items-center md:gap-6 dark:bg-[#191d28] dark:text-white">
        <!-- upper nav bar -->
        <nav
            class="w-full flex flex-wrap flex-col justify-center px-3 lg:px-8 pt-6 pb-2 lg:py-8 items-center gap-4 sm:gap-8 md:flex-row md:gap-10 lg:gap-16   lg:justify-between">
            <img src="/images/logo.png" alt="logo" class="h-10 sm:h-15 lg:h-11 xl:h-12">

            <ul class="flex justify-between flex-wrap gap-2 uppercase lg:gap-7">
                <li><select name="" id="mbtn1"
                        class="px-3 py-1 bg-slate-100 dark:bg-[#2e3241] focus:bg-[#393f45] focus:text-white rounded-lg uppercase font-[Oswald,sans-serif] text-[0.9rem] lg:text-[1.1rem] xl:text-[1.2rem]  font-normal  ">
                    <option value="All">All</option>
                    </select></li>
                <li><select name="" id="mbtn2"
                        class="px-3 py-1 bg-slate-100 dark:bg-[#2e3241] focus:bg-[#393f45] focus:text-white rounded-lg uppercase font-[Oswald,sans-serif] text-[0.9rem] lg:text-[1.1rem] xl:text-[1.2rem] font-normal ">
                        <option value="All">All</option>
                    </select></li>
                <li
                    class="px-2 py-1  bg-slate-100 dark:bg-[#2e3241] focus:bg-[#393f45] focus:text-white rounded-lg font-[Oswald,sans-serif] uppercase text-[0.9rem] lg:text-[1.1rem] xl:text-[1.2rem] font-normal">
                    <a href="">buy btc</a>
                    </li>
            </ul>

            <ul class="flex justify-center items-center flex-col flex-warp gap-4 sm:flex-row lg:gap-7">

                <li class="flex flex-center items-center ">
                    <div role="status" class="flex justify-center gap-0 items-center ">
                        <svg aria-hidden="true"
                            class="w-8 h-8 mr-2 text-white animate-spin transition-all duration-10000 dark:text-gray-400 fill-[#3dc6c1]"
                            viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                                fill="currentColor" />
                            <path
                                d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                                fill="currentFill" />
                        </svg>
                        <span class="relative left-[-32.5px] font-[Oswald,sans-serif] w-0 " id="spinner">00</span>
                    </div>
                </li>
                
                <li
                    class="w-36 lg:w-40 xl:w-44 flex justify-center items-center gap-3 text-[0.9rem] lg:text-[1.1rem] xl:text-[1.2rem] bg-[#3dc6c1] px-1 rounded-lg py-[5px] text-white capitalize font-[Oswald,sans-serif] font-normal">
                    <a href="" class="flex justify-center items-center gap-3 text-center"><img src="/images/send.png" alt="send" class="h-4"> connect telegram</a>
                </li>

                <li >
                    <div class="relative inline-block w-14 mr-2  align-middle select-none transition duration-200 ease-in" >
                        <input type="checkbox" name="toggle" id="darkmodebtn" id="toggle" class="toggle-checkbox absolute block w-6 h-6 mt-1 ml-1 mr-1 rounded-full bg-[#3dc6c1] border-[#3dc6c1] border-4 appearance-none cursor-pointer"/>
                        <label for="toggle" class="toggle-label block overflow-hidden h-8  rounded-full bg-[#ddd] cursor-pointer"></label>
                    </div>
                      
                    <!-- <label class="relative inline-flex items-center cursor-pointer" id="darkmodebtn">
                        <input type="checkbox" value="" class="sr-only peer">
                        <div
                            class="w-12 h-7  peer-focus:outline-none bg-gray-100  rounded-full peer dark:bg-slate-100 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[4px] after:left-[3px] after:bg-[#3dc6c1] after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-gray-700">
                        </div>
                    </label> -->
                </li>

            </ul>

        </nav>

        <!-- upper values section -->
        <div class="flex flex-col gap-3 w-full px-5 sm:px-10 md:px-7 lg:px-12 xl:px-14">

            <div class="text-[1rem]  font-[Oswald,sans-serif] font-light text-gray-400 md:text-[2rem]">
                <h5>Best Price to Trade</h5>
            </div>

            <ul
                class="w-full flex justify-between flex-nowrap gap-1 px-2 lg:px-16 items-center text-[0.7rem] sm:text-[1rem] md:text-[1.5rem] lg:text-[2.5rem] md:font-medium font-[Oswald,sans-serif] font-normal text-[#5dc7c2] text-center ">
                <li class="flex flex-col flex-between">
                    0.33 %
                    <p class="text-[0.6rem] md:text-[1rem] lg:text-[1.5rem] text-gray-400 font-extralight"> 5 Mins</p>

                </li>
                <li>
                    1.21 %
                    <p class="text-[0.6rem] md:text-[1rem] lg:text-[1.5rem] text-gray-400 font-extralight">1 Hour</p>

                </li>
                <li
                    class="text-[1.5rem] text-black dark:text-white flex flex-col gap-3  font-[Oswald,sans-serif]  sm:text-[2rem] md:text-[3rem] lg:text-[5rem] md:font-medium">
                    ₹ 24,61,845
                    <br>
                    <p
                        class="text-[0.5rem] sm:text-[1rem]  font-[Oswald,sans-serif] font-light leading-3 tracking-wider text-gray-400  ">
                        Average BTC/INR net price including commission</p>
                </li>
                <li>
                    11.33 %
                    <p class="text-[0.6rem] md:text-[1rem] lg:text-[1.5rem] text-gray-400 font-extralight">1 Day</p>

                </li>
                <li>
                    12.17 %
                    <p class="text-[0.6rem] md:text-[1rem] lg:text-[1.5rem] text-gray-400 font-extralight"> 7 Days</p>

                </li>
            </ul>
        </div>


        <!-- middles tables section -->
        <div class="w-full overflow-x-auto">
            
            <table id="datatable" class="table-fixed w-full border-separate px-2 md:px-7 font-[Oswald,sans-serif] font-normal" style="border-spacing: 0 20px;">
        
            </table>

            <div class="w-full h-full">

                <div role="status" class="flex justify-center gap-0 items-center h-80" id="tloader">
                    <svg aria-hidden="true"
                        class="w-28 h-28 mr-2 text-white animate-spin transition-all duration-10000 dark:text-gray-400 fill-[#3dc6c1]"
                        viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                            fill="currentColor" />
                        <path
                            d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                            fill="currentFill" />
                    </svg>
                </div>
           
        </div>

        <!-- footer button selction -->
        <footer class="w-full flex justify-between text-gray-400 px-4 md:px-5 pt-4 pb-20 items-center font-[Oswald,sans-serif] font-medium  text-[0.7rem] lg:text-[0.8rem] tracking-wide capitalize border-t-2">
            <div class="flex justify-between gap-2">
                <p>Copyright © 2019
                   </p>
                   <p> HodlInfo.com</p>
            </div>
            <a href="">support</a>
            
        </footer>

        <div class="w-full bg-[#191d28] text-white px-2 py-2 fixed bottom-0">
            <button class="border-2 border-[#17a2b8] px-2 py-2 rounded-md text-[#17a2b8] text-[0.9rem] sm:text-[1rem] hover:bg-[#17a2b8] hover:text-[white]">Add hodlinfo to home screen</button>
        </div>
    </main>


    
    <script src="/js/app.js"></script>


</body>

</html>